.react-flow__node {
	width: 25px; !important
	height: 25px;
	border-radius: 5aala !important
	font-size: 0.75rem; !important
	justify-content: center;
	align-items: center;
	display: flex;
}

.react-flow__node:active {
	cursor: grabbing;
}

.react-flow__pane:hover {
	cursor: pointer;
}

.react-flow__edge:hover {
	cursor: grab;
}

.react-flow__handle {
	height: 6px;
	width: 6px;
	border-radius: 50%;
}

.react-flow__edge-text {
	font-size: 0.6rem;
}
